<nav
  class="bg-black text-center py-3 sticky top-0 z-10 shadow-md"
>
  <ul class="flex justify-center gap-6 list-none m-0 p-0">
    <li>
      <a
        href="#sobre-mi"
        class="text-slate-100 font-medium hover:text-blue-400 transition-colors duration-300"
        >Sobre mí</a
      >
    </li>
    <li>
      <a
        href="#habilidades"
        class="text-slate-100 font-medium hover:text-blue-400 transition-colors duration-300"
        >Habilidades</a
      >
    </li>
    <li>
      <a
        href="#proyectos"
        class="text-slate-100 font-medium hover:text-blue-400 transition-colors duration-300"
        >Proyectos</a
      >
    </li>
    <li>
      <a
        href="#contacto"
        class="text-slate-100 font-medium hover:text-blue-400 transition-colors duration-300"
        >Contacto</a
      >
    </li>
  </ul>
</nav>
