<header
  class="relative flex items-center justify-center text-center text-white h-[99vh] bg-cover bg-center"
>
  <!-- Capa oscura de fondo -->
  <div class="absolute inset-0 bg-black/50"></div>

  <!-- Contenido del header -->
  <div class="relative z-10 flex flex-col items-center justify-center px-6">
    <h1 class="text-4xl md:text-5xl font-bold mb-10">
      Juan Eduardo Fuentes Cruz
    </h1>    
    <a
      href="#sobre-mi"
      class="bg-blue-700 hover:bg-blue-600 text-white px-6 py-3 rounded-full transition duration-300 font-medium"
    >
      Conóceme
    </a>
  </div>
</header>
