<section
    id="sobre-mi"
    class="max-w-[1000px] mx-auto my-10 bg-white rounded-[15px] shadow-md px-5 py-[60px] sm:px-10 lg:px-20"
>
    <h2 class="text-center text-blue-700 text-2xl font-semibold mb-6">
        Sobre mí
    </h2>

    <div class="flex flex-wrap items-center gap-5">
        <div class="space-y-4 text-gray-700 leading-relaxed text-justify">
            <p>
                Hola, soy <strong>Juan Eduardo Fuentes Cruz</strong>. Me
                considero una persona tranquila, apasionada por el deporte, la
                tecnología y los videojuegos. Busco siempre aprender algo nuevo
                y mantener un equilibrio entre mis intereses y mis metas
                personales.
            </p>
            <p>
                Desde pequeño me ha apasionado el fútbol, no solo como deporte,
                sino como forma de disciplina y trabajo en equipo. Los
                videojuegos son mi otra gran pasión: me gusta su creatividad, la
                estrategia y la conexión con amigos.
            </p>
            <p>
                Además, disfruto mucho aprender sobre tecnología y diseño. Me
                motiva la idea de crear cosas nuevas y mejorar constantemente.
            </p>
        </div>
    </div>
</section>
